* 
  letter-spacing: 0

input, textarea, button, .button
  border-radius: 4px !important

.is-size-7
  font-size: 0.65rem !important

input::placeholder
  color: $grey !important

button
  color: $white !important

button:disabled
  background-color: $grey-light !important
  border-color: $grey-light !important
  color: $grey !important

  svg
    fill: $grey !important

.checkbox
  &.is-toggle
    & input[type="checkbox"]:not(:checked) + .checkbox-mark
      background-color: $red !important

    & input[type="checkbox"]:checked + .checkbox-mark
      background-color: $success !important

    & input[type="checkbox"]:disabled + .checkbox-mark
      background-color: $grey-light !important

    & > input[type="checkbox"]:disabled:checked ~ .checkbox-mark:before
      border-color: $grey-lightest !important

.has-background-neutral
  background-color: $neutral !important

.has-background-azure
  background-color: $azure !important

.has-text-primary-invert
  color: $primary-invert !important

.has-text-success-invert
  color: $success-invert !important

.has-text-danger-invert
  color: $danger-invert !important

.has-text-info-invert
  color: $info-invert !important

.has-text-warning-invert
  color: $warning-invert !important

.box.is-link
  cursor: pointer
  